#Populaire {
    font-size: 1rem;
}

#Populaire img {
    width: 100px;
}

#Activités {
    flex-direction: column;
}

#Activités img {
    height: 100px;
}

#Activités>div>article img {
    height: 100px;
}